@import url(http://fonts.googleapis.com/css?family=Roboto:300);
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  box-sizing: inherit;
  font-family: "Roboto", Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%; }

h1 {
  margin: 26% 42%;
  width: 32%;
  font-size: 40px;
  font-size: 4rem; }

h2 {
  color: #fff;
  text-align: center;
  font-size: 19px;
  font-size: 1.9rem;
  padding: 10px;
  margin: 20px 0 0 0; }

a {
  color: #333;
  font-size: 17px;
  font-size: 1.7rem;
  text-decoration: none; }

.active {
  background-color: #5AC4BE;
  color: #fff;
  padding: 0.6em; }

.info, .bttn {
  background: transparent;
  border: 1px solid #F46C6C;
  margin-top: 9px;
  padding: 2% 5%; }

.phrase-main, .image-about-me, .image-skills, .image-contact {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%; }

nav ul {
  padding: 0; }
nav li {
  list-style: none;
  margin: 0; }

.logo {
  margin-bottom: 15%; }

.phrase-main {
  background-image: url(../images/wallpaper.jpg); }

.main-nav {
  background-color: #fff;
  float: left;
  height: 100%;
  position: absolute;
  width: 19%;
  z-index: 100; }

.main-nav-items {
  margin-top: 65%;
  text-align: center; }
  .main-nav-items:after {
    background-color: #242424;
    content: "";
    height: 1px;
    position: absolute;
    right: 26.5%;
    width: 46%; }
  .main-nav-items li {
    padding: 9% 0; }

.main-social-nav {
  text-align: center; }
  .main-social-nav li {
    display: inline-block; }

/*SECCION DE LAS LETRAS QUE CAMBIAN*/
.rw-sentence {
  /*cambiante*/
  margin: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8); }

.rw-words {
  display: inline;
  text-indent: 10px; }

.rw-words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #888;
  -webkit-transform-origin: 10% 75%;
  transform-origin: 10% 75%;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s; }

.rw-words span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #6b889d; }

.rw-words span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #6b739d; }

.rw-words span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: #7a6b9d; }

.rw-words span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
  color: #8d6b9d; }

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  17% {
    opacity: 1;
    -webkit-transform: rotate(0deg); }
  19% {
    opacity: 1;
    -webkit-transform: rotate(98deg); }
  21% {
    opacity: 1;
    -webkit-transform: rotate(86deg); }
  23% {
    opacity: 1;
    -webkit-transform: translateY(85px) rotate(83deg); }
  25% {
    opacity: 0;
    -webkit-transform: translateY(170px) rotate(80deg); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes rotateWord {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  17% {
    opacity: 1;
    -ms-transform: rotate(0deg); }
  19% {
    opacity: 1;
    -ms-transform: rotate(98deg); }
  21% {
    opacity: 1;
    -ms-transform: rotate(86deg); }
  23% {
    opacity: 1;
    -ms-transform: translateY(85px) rotate(83deg); }
  25% {
    opacity: 0;
    -ms-transform: translateY(170px) rotate(80deg); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes rotateWord {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  17% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  19% {
    opacity: 1;
    -webkit-transform: rotate(98deg);
    transform: rotate(98deg); }
  21% {
    opacity: 1;
    -webkit-transform: rotate(86deg);
    transform: rotate(86deg); }
  23% {
    opacity: 1;
    -webkit-transform: translateY(85px) rotate(83deg);
    transform: translateY(85px) rotate(83deg); }
  25% {
    opacity: 0;
    -webkit-transform: translateY(170px) rotate(80deg);
    transform: translateY(170px) rotate(80deg); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px; } }
@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px; } }
/*TERMINA PALABRAS QUE CAMBIAN*/
.image-about-me {
  background-image: url(../images/whoiam.jpg); }

.about {
  font-size: 12px;
  height: 493px;
  left: 39%;
  letter-spacing: 3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 493px;
  z-index: 21; }
  .about .triangle-about {
    border-left: 380px solid transparent;
    border-right: 380px solid transparent;
    border-bottom: 600px solid rgba(255, 255, 255, 0.3);
    margin: 11% 0 0 -23%; }
  .about .about-content {
    font-size: 16px;
    font-size: 1.6rem;
    left: 25.5%;
    position: absolute;
    top: 44%;
    width: 56%;
    z-index: 22; }

svg {
  transform: rotate(-91deg); }

.image-skills {
  background-image: url(../images/workplace.jpg); }

.skills {
  height: 493px;
  left: 39%;
  letter-spacing: 3px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 493px;
  z-index: 21; }
  .skills .diamond {
    background-color: rgba(255, 255, 255, 0.3);
    height: 48em;
    left: 8%;
    position: absolute;
    top: 22%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    width: 48em;
    z-index: 21; }
  .skills .skills-content {
    font-size: 16px;
    font-size: 1.6rem;
    left: 10.5%;
    position: absolute;
    top: 46%;
    z-index: 22; }

/*CIRCULOS*/
.section-percents {
  left: 21%;
  position: absolute;
  top: 66%;
  width: 100%; }

.percent-skills {
  display: inline-block; }

.skills-word {
  font-size: 19px;
  font-size: 1.9rem;
  color: #5AC4BE;
  position: absolute; }

.circle-animation {
  stroke-dasharray: 440;
  stroke-dashoffset: 440; }

.html5 span {
  margin: 3.5em 2.5em; }
.html5 .circle-animation {
  -webkit-animation: html 1s ease-out forwards;
  animation: html 1s ease-out forwards; }

@-webkit-keyframes html {
  to {
    stroke-dashoffset: 80; } }
@keyframes html {
  to {
    stroke-dashoffset: 80; } }
.css3 span {
  margin: 3.5em 3em; }
.css3 .percent {
  font-size: 19px;
  font-size: 1.9rem;
  display: none;
  margin: 3.5em;
  position: absolute; }
.css3 .circle-animation {
  -webkit-animation: css 1s ease-out forwards;
  animation: css 1s ease-out forwards; }

@-webkit-keyframes css {
  to {
    stroke-dashoffset: 100; } }
@keyframes css {
  to {
    stroke-dashoffset: 100; } }
.javascript {
  padding-left: 36em; }
  .javascript span {
    margin: 3.5em 2em; }
  .javascript .circle-animation {
    -webkit-animation: javascript 1s ease-out forwards;
    animation: javascript 1s ease-out forwards; }

@-webkit-keyframes javascript {
  to {
    stroke-dashoffset: 135; } }
@keyframes javascript {
  to {
    stroke-dashoffset: 135; } }
.ux span {
  margin: 3em 2.1em;
  text-align: center; }
.ux .circle-animation {
  -webkit-animation: ux 1s ease-out forwards;
  animation: ux 1s ease-out forwards; }

@-webkit-keyframes ux {
  to {
    stroke-dashoffset: 110; } }
@keyframes ux {
  to {
    stroke-dashoffset: 110; } }
.gallery-content {
  background-color: #F26B6C;
  display: -webkit-inline-box;
  float: left;
  height: 100%;
  left: 19%;
  position: absolute;
  width: 13%; }
  .gallery-content .gallery-nav {
    margin: 140% 0;
    text-align: center; }
    .gallery-content .gallery-nav li {
      padding: 9% 0;
      text-transform: uppercase; }

.projects {
  height: 100%;
  margin-left: 19%;
  width: 116%; }

#projects-images1 {
  height: 50%; }
  #projects-images1 img {
    float: left;
    height: 100%;
    width: 100%; }

#projects-images2 {
  height: 50%; }
  #projects-images2 img {
    float: left;
    height: 100%;
    width: 100%; }

.view {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 33%; }
  .view .mask {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(155, 91, 52, 0.7);
    opacity: 0;
    transition: all 0.4s ease-in-out; }
  .view p {
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    text-align: center; }

.info {
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .info:hover {
    background-color: #F26B6C;
    color: #fff; }

.hover img {
  transition: all 0.2s linear; }
.hover h2 {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  text-align: center;
  transform: translateY(-100px);
  transition: all 0.2s ease-in-out; }
.hover p {
  opacity: 0;
  text-transform: uppercase;
  transform: translateY(100px);
  transition: all 0.2s linear; }

.hover:hover img {
  transform: scale(1.1); }

.hover:hover .mask {
  opacity: 1; }

.hover:hover h2,
.hover:hover p,
.hover:hover a.info {
  opacity: 1;
  transform: translateY(0px); }

.hover:hover p {
  transition-delay: 0.1s; }

.hover:hover a.info {
  transition-delay: 0.2s; }

.details-project {
  margin-left: 33em; }
  .details-project img {
    margin: auto;
    display: block;
    padding: 3em; }
  .details-project .details {
    margin: auto;
    width: 50%; }
    .details-project .details h3 {
      font-size: 18px;
      font-size: 1.8rem; }
    .details-project .details p {
      font-size: 14px;
      font-size: 1.4rem; }

.image-contact {
  background-image: url(../images/contact-image.jpg); }

.contact {
  height: 493px;
  left: 39%;
  position: absolute;
  text-transform: uppercase;
  top: 17%;
  width: 493px; }
  .contact .square {
    background-color: rgba(255, 255, 255, 0.5);
    height: 106%;
    left: -43.5%;
    position: absolute;
    width: 190%; }
  .contact .contact-content {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    z-index: 22;
    width: 102%; }

.contact-form {
  padding-top: 4%;
  width: 90%; }

.contact label {
  display: inline-block; }
.contact .contact-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #F46C6C;
  display: block;
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 7px;
  width: 83%; }

::-webkit-input-placeholder {
  color: #000;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.5rem; }

::-moz-placeholder {
  color: #000;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.5rem; }

:-ms-input-placeholder {
  color: #000;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.5rem; }

input:focus {
  outline: 0px; }

textarea {
  color: #F46C6C;
  font-size: 15px;
  font-size: 1.5rem; }

textarea:focus {
  outline: 0px; }

.comment {
  background: transparent;
  border: 1px solid #F46C6C;
  height: 12rem;
  margin-top: 10px;
  width: 98%; }

.bttn:hover {
  background-color: #F26B6C;
  color: #fff; }

/*# sourceMappingURL=styles.css.map */
