//
// Estilos de la página de Contacto
//

//Imagen de fondo
.image-contact {
	background-image: url(../images/contact-image.jpg);
	@extend %image-backgrounds;
}

//Estilos del contenido de la información de contacto

.contact {
    height: 493px;
    left: 39%;
    position: absolute;
    text-transform: uppercase;
    top: 17%;
    width: 493px;
    .square { //Figura que envuelve el contenido
    	background-color: rgba(255, 255, 255, .5);
        height: 106%;
        left: -43.5%;
        position: absolute;
        width: 190%;
    }
    .contact-content {
        @include font-size(16);
        position: absolute;
        z-index: 22;
        width: 102%;
    }
}

.contact-form {
    padding-top: 4%;
    width: 90%;
}

.contact {
    label { 
        display: inline-block;
    }
    .contact-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #F46C6C;
        display: block;
        @include font-size(15);
        margin-bottom: 7px;
        width: 83%;
    }
}

::-webkit-input-placeholder {
    color: #000;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.5rem; 
}

::-moz-placeholder { 
    color: #000;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.5rem; 
} // firefox 19+

:-ms-input-placeholder { 
    color: #000;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 1.5rem; 
} // ie 

input:focus {
    outline: 0px;
}

textarea {
    color: #F46C6C;
    @include font-size(15);
}

textarea:focus {
    outline: 0px;
}

.comment {
    background: transparent;
    border: 1px solid #F46C6C;
    height: 12rem;
    margin-top: 10px;
    width: 98%;
}

.bttn {
    @extend %bttn;
    &:hover {
        background-color: $secundarycolor;
        color: #fff;
    }
}