//
//Estilos de la Galería de Proyectos
//

.gallery-content {
    background-color: $secundarycolor;
    display: -webkit-inline-box;
    float: left;
    height: 100%;	
    left: 19%;
    position: absolute;
    width: 13%;
    .gallery-nav {
        margin: 140% 0;
        text-align: center;
        li {
            padding: 9% 0;
            text-transform: uppercase;
        }
    }
}
.projects {
    height: 100%;
    margin-left: 19%;
    width: 116%;
}

.projects-images1 {
    height: 50%;
    img {
        float: left;
        height: 100%;
        width: 25%;
    }
}

.projects-images2 {
  height: 50%;
  img {
    float: left;
    height: 100%;
    width: 25%;
  }
}