//
//Estilos de skills
//


 //Imagen de fondo de la página de Skills
svg {
    transform: rotate(-91deg);
}

.image-skills {
	background: url(../images/workplace.jpg) no-repeat;
	background-size: cover;
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.skills {
    height: 493px;
    left: 39%;
    letter-spacing: 3px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 493px;
    z-index: 21;
    .diamond { //Figura que en envuelve el contenido
        background-color: rgba(255, 255, 255, .3);
        height: 48em;
        left: 8%;
        position: absolute;
        top: 22%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        width: 48em;
        z-index: 21;
    }
    .skills-content {
        @include font-size(16);
        left: 10.5%;
        position: absolute;
        top: 46%;
        z-index: 22;
    }
}
/*CIRCULOS*/
.section-percents {
    left: 21%;
    position: absolute;
    top: 66%;
    width: 100%;
}

.percent-skills {
    display: inline-block;
}

.skills-word {
    @include font-size(19);
    color: #5AC4BE;
    position: absolute;
}

.circle-animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.html5 {
    span {
        margin: 3.5em 2.5em;
    }
    .circle-animation {
        -webkit-animation: html 1s ease-out forwards;
        animation: html 1s ease-out forwards;
    }
} 

@-webkit-keyframes html {
    to {
        stroke-dashoffset: 80;
    }
}

@keyframes html {
  to {
    stroke-dashoffset: 80;
  }
}

.css3 {
    span {
        margin: 3.5em 3em; 
    }
    .percent {
        @include font-size(19);
        display: none;
        margin: 3.5em;
        position: absolute;
    }
    .circle-animation {
        -webkit-animation: css 1s ease-out forwards;
        animation: css 1s ease-out forwards;
    }
}



@-webkit-keyframes css {
    to {
        stroke-dashoffset: 100;
    }
}

@keyframes css {
  to {
    stroke-dashoffset: 100;
  }
}

.javascript {
    padding-left: 36em;
    span {
        margin: 3.5em 2em;
    }
    .circle-animation {
        -webkit-animation: javascript 1s ease-out forwards;
        animation: javascript 1s ease-out forwards;
    }
} 
 
@-webkit-keyframes javascript {
    to {
        stroke-dashoffset: 135;
    }
}

@keyframes javascript {
  to {
    stroke-dashoffset: 135;
  }
}

.ux {
    span {
        margin: 3em 2.1em;
        text-align: center;
    }
    .circle-animation {
       -webkit-animation: ux 1s ease-out forwards;
       animation: ux 1s ease-out forwards;
    }
}

@-webkit-keyframes ux {
    to {
        stroke-dashoffset: 110;
    }
}

@keyframes ux {
  to {
    stroke-dashoffset: 110;
  }
}